nav {
	display: block;
}

.main-nav, .main-nav ul,
.main-nav ul li, .main-nav ul li a {
	padding: 0;
	margin: 0;
}

.main-nav {
	height:100px;
	width: 100%;
	background-color: #9BACAC;

}
 
.main-nav ul {
	list-style: none;
}

.main-nav ul li {
	float: left;
	height: 100px;
	width: 100px;
	background-color: red;
	text-align: center;
}

.main-nav ul li:last-child {
	float: right;
	width: 200px;
	text-align: center;
}

.main-nav ul li:last-child a {
	
}	

.main-nav ul li a {
	text-decoration: none;
	line-height: 100px;
	color: yellow;
	font-size: 1em;
}













/* slide-out nav properties */





/*

.btm-slide-nav ul,
.btm-slide-nav ul li, 
.btm-slide-nav ul li a {  // reset prop 
	padding: 0;
	margin: 0;
}


.btm-slide-nav {
	width: 175px;
	height: 100%;
	background-color: #11E4C9;

	position: absolute;
	top: 0;
	left:0;
	margin-left: -175px;

}

.btm-slide-nav ul {
	list-style: none;
}

.btm-slide-nav ul li {

}

.btm-slide-nav ul li a {

}

*/